/**
*  E&H Construction Styles
*
*  Filename: style.scss
*  Creator: Jason Fukura
*
*/
/* RESETS =================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -khtml-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

/* BASE ===================================================================== */
img {
  max-width: 100%;
  border: none; }

/**
 * Responsive grid based on the Bootstrap Grid System
 */
@-ms-viewport {
  width: device-width; }
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; }

  .visible-xs-block {
    display: block !important; }

  .visible-xs-inline {
    display: inline !important; }

  .visible-xs-inline-block {
    display: inline-block !important; }

  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; }

  .visible-sm-block {
    display: block !important; }

  .visible-sm-inline {
    display: inline !important; }

  .visible-sm-inline-block {
    display: inline-block !important; }

  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; }

  .visible-md-block {
    display: block !important; }

  .visible-md-inline {
    display: inline !important; }

  .visible-md-inline-block {
    display: inline-block !important; }

  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; }

  .visible-lg-block {
    display: block !important; }

  .visible-lg-inline {
    display: inline !important; }

  .visible-lg-inline-block {
    display: inline-block !important; }

  .hidden-lg {
    display: none !important; } }
.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; }

  .visible-print-block {
    display: block !important; }

  .visible-print-inline {
    display: inline !important; }

  .visible-print-inline-block {
    display: inline-block !important; }

  .hidden-print {
    display: none !important; } }
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .container {
    width: 750px; }

  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .container {
    width: 970px; }

  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; }

  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  background: rgba(65, 75, 78, 0.5); }
  .header-logo {
    max-width: 150px; }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .nav-item {
    list-style-type: none; }
  .nav-target {
    background: transparent;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: background 0.2s ease; }
    .nav-target:hover {
      background: rgba(97, 165, 192, 0.5); }
    .nav-target.is-current {
      background: rgba(97, 165, 192, 0.7); }

.rotator-images {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -10; }
  .rotator-images-item {
    position: absolute;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    transition: opacity 0.5s ease; }
    .rotator-images-item.is-active {
      opacity: 1; }
.rotator-controls {
  position: absolute;
  bottom: 20px; }
.rotator-dots {
  list-style-type: none;
  margin-top: 10px; }
  .rotator-dots-dot {
    background: #8c8781;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875em;
    height: 1em;
    float: left;
    margin-right: 5px;
    opacity: 0.5;
    transition: all 0.2s ease;
    width: 1em; }
    .rotator-dots-dot:hover, .rotator-dots-dot:focus {
      opacity: 1; }
    .rotator-dots-dot.is-active {
      background: #61a598;
      opacity: 1; }
.rotator-card {
  background: #fff;
  box-sizing: content-box;
  overflow: hidden;
  padding: 20px;
  transition: height 0.5s ease; }
  .rotator-card-captions {
    box-sizing: content-box;
    list-style-type: none;
    overflow: hidden; }
    .rotator-card-captions-item {
      box-sizing: content-box;
      display: none;
      transition: opacity 1s ease; }
      .rotator-card-captions-item.is-active {
        display: block; }
  .rotator-card-title {
    color: #414b4e;
    font: normal 400 1.25em/1.4 "futura-pt", sans-serif; }
    .rotator-card-title:after {
      border-bottom: 2px solid;
      content: "";
      display: block;
      clear: both;
      margin-top: 5px;
      margin-bottom: 15px;
      width: 0.875em; }
  .rotator-card-body {
    color: #8c8781;
    clear: both;
    font: normal 400 1em/1.4 "futura-pt", sans-serif; }

.rotator-captions li {
  display: none; }

.rotator-captions li.current {
  display: block;
  width: 100%;
  height: 100%; }

/* atomic */
html {
  background-color: #B6B0A3;
  height: 100%; }

body {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  color: #fff;
  height: 100%; }

img {
  border: none; }

.full-height {
  height: 100%; }

@media only screen and (min-width: 1436px) {
  body {
    font-size: 150% !important; } }
@media only screen and (min-width: 1260px) {
  body {
    font-size: 120% !important; } }
@media only screen and (max-width: 959px) {
  body {
    font-size: 80% !important; } }
/* ============================================================================= */
/* Colors                                                                        */
/* ============================================================================= */
a {
  color: #61A598;
  text-decoration: none; }

a:after {
  content: ''; }

a:hover {
  text-decoration: underline; }

a:visited {
  text-decoration: #865E3E; }

/* Will need an override for the covers */
.ls-n004 {
  letter-spacing: -0.04em; }

.little-line:after {
  display: block;
  padding-top: 0.3em;
  content: '\2014'; }

.link:after {
  content: ' \f105';
  font-family: FontAwesome; }

.helper {
  font-weight: 700;
  color: #8C8781; }

.helper a {
  color: #8c8781;
  text-decoration: underline; }

.page-header {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.9em; }

h4 {
  font-size: 1em;
  font-weight: 700; }

footer {
  font-size: 0.8em; }

.text-shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

/* ============================================================================= */
/* Navigation                                                                    */
/* ============================================================================= */
nav li a {
  font-size: 1.5em;
  text-transform: uppercase;
  display: block;
  padding-left: 10px; }

nav li a:hover {
  background-color: rgba(97, 165, 192, 0.3);
  text-decoration: none; }

nav li a.current {
  background-color: rgba(97, 165, 192, 0.7); }

/* ============================================================================= */
/* Widgets & Elements                                                            */
/* ============================================================================= */
#proj-navigator span {
  margin: 0;
  padding: 0;
  line-height: 2em;
  width: 10%;
  display: inline-block;
  text-align: center;
  float: left; }

#proj-navigator span:nth-child(2) {
  width: 80%; }

#proj-navigator span:nth-child(3) {
  float: right; }

#proj-navigator span a {
  line-height: 2em;
  display: block;
  width: 100%;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.05);
  color: #fff; }

#proj-navigator span a:hover {
  background: rgba(255, 255, 255, 0.1); }

#proj-navigator h4 {
  margin: 0; }

.card {
  background-color: #fff;
  overflow: hidden; }

.gallery {
  float: right;
  display: inline-block; }

.gallery li {
  list-style-type: none;
  display: block;
  float: left;
  width: 30%;
  margin: 0 5% 5% 0;
  position: relative; }

.gallery li img {
  width: 100%; }

.gallery li:nth-child(3n+0) {
  margin: 0 0 5% 0; }

.img-cover {
  opacity: 0;
  text-align: center;
  cursor: pointer;
  background-color: rgba(97, 165, 192, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  vertical-align: middle; }

.img-cover:hover {
  opacity: 1; }

.img-cover i {
  font-size: 2em;
  margin-top: 35%;
  opacity: 0.8; }

.picture-card .card-cover {
  background-color: rgba(65, 75, 78, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9; }

.picture-card:hover .card-cover {
  background-color: transparent; }

.picture-card:visited .card-cover {
  background-color: rgba(65, 75, 78, 0.9) !important; }

#lightboxbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table; }

.lb-imgwrap {
  display: block;
  vertical-align: middle;
  text-align: center; }

#shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url(/images/ajax-loader.gif) rgba(65, 75, 78, 0.9) center center no-repeat; }

#next-btn,
#prev-btn {
  opacity: 0.5; }

#next-btn:hover,
#prev-btn:hover {
  opacity: 1; }

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
  border: 0;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #8C8781;
  border-radius: 0;
  color: #fff;
  width: 96%;
  padding: 2%;
  margin-bottom: 10px;
  font-size: 1em;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal; }

#contact-url {
  display: none; }

.label-floatlabel {
  padding-top: 10px; }

::-webkit-input-placeholder {
  color: #8C8781; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #8C8781; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #8C8781; }

:-ms-input-placeholder {
  color: #8C8781; }

.btn {
  background: #61A598;
  border: none;
  border-radius: 0;
  padding: 10px 30px;
  font-size: 1em;
  color: #fff;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: normal; }

.btn:hover {
  background: #865E3E; }

.btn:active {
  background: #414B4E; }

.error {
  color: #865E3E;
  font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
