
html{background-color: $color-outerSpace; height: 100%;}
body {
    font: normal 400 1em/1.6 $font-futura;
    color:#fff;
    height: 100%;
}
img{border:none;}



.full-height {
	height: 100%;
}

.input{
    font: normal 400 1em/1 $font-futura;
    border:0;
    background:rgba(255,255,255,0.05);
    border-bottom:1px solid rgba(255,255,255,0.5);
    border-radius:0;
    color:#fff;
    width:96%;
    padding:2%;
    margin-bottom: 10px;

    &#contact-url {
        display: none;
    }
}

.label-floatlabel  {
    padding-top:10px;
}
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.5);
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.5);
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder {
   color: rgba(255,255,255,0.5);
}

.btn{
    background: $color-patina;
    border:none;
    border-radius:0;
    padding: 10px 30px;
    font-size: 1em;
    color:#fff;
    font: normal 400 1em/1 $font-futura;
}
        .btn:hover{
            background:#865E3E;
        }
        .btn:active{
            background:#414B4E;
        }
.error{
    color:#865E3E;
    font-size: 1rem;
}
