// COLORS

$color-white: 		#fff;
$color-naturalGray: #8c8781;
$color-outerSpace: 	#414b4e;
$color-pottersClay: #865e3e;
$color-patina: 		#61a598;

// .bg-white-50{background-color: rgba(255,255,255,0.5);}
// .bg-outer-space-50{background-color: rgba(65,75,78,0.5);}
// .bg-patina-50{background-color: rgba(97,165,192,0.5);}

// FONTS
$font-futura: "futura-pt", sans-serif;

// .futura-book{font-family: "futura-pt";font-weight:400;font-style:normal;}
// .futura-heavy{font-family: "futura-pt";font-weight:700;font-style:normal;}
