// COLORS
$color-white: 		#fff;
$color-naturalGray: #8c8781;
$color-outerSpace: 	#414b4e;
$color-pottersClay: #865e3e;
$color-patina: 		#61a598;

// FONTS
$font-futura: "futura-pt", sans-serif;
$font-eloquent: "eloquent-jf-pro", serif;
