.header {
  background: hsla(194, 9.1, 20, 0.5);
  padding: 20px;

  &-logo {
    max-width: 150px;
  }
}

.nav {
  list-style-type: none;
  margin: 3em 0;
  padding: 0;

  &-item{
    list-style-type: none;
  }

  &-target {
    background: transparent;
    color: $color-white;
    display: block;
    font-size: 1.5em;
    padding-left: 10px;
    text-transform: uppercase;
    transition: background 0.2s ease;

    &:hover {
      background: rgba(97, 165, 192, 0.5);
      text-decoration: none;
    }

    &.is-current {
      background: rgba(97, 165, 192, 0.7);
    }
  }
}