.header {
  background: rgba(65, 75, 78, 0.5);

  &-logo {
    max-width: 150px;
  }

}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &-item{
    list-style-type: none;
  }

  &-target {
    background: transparent;
    color: $color-white;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: background 0.2s ease;

    &:hover {
      background: rgba(97, 165, 192, 0.5);
    }

    &.is-current {
      background: rgba(97, 165, 192, 0.7);
    }
  }
}
